<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>
    <body>
        <div class="logo-container mb-3 p-3 d-flex justify-content-between">
    		<div>
        		<span class="logo">Open</span><span class="logo logo-bold">Park</span>
    		</div>
    		<div>
    			<a href="/painel"><button class="btn btn-light mt-3">Painel</button></a>	
    		</div>
		</div>
		<div class="container">
			<div class="card mb-3 font-weight-bold">
				<div class="card-header alert-warning">Configuracoes Gerais do Estacionamento</div>
				<div class="card-body">
					
				</div>
			</div>
		</div>	
    </body>
</html>