<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>
	
    <body>
    	<div class="logo-container mb-3 p-3 d-flex justify-content-between">
    		<div>
        		<span class="logo">Open</span><span class="logo logo-bold">Park</span>
    		</div>
    		<div>
    			<a href="/painel"><button class="btn btn-light mt-3">Painel</button></a>	
    		</div>
		</div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<form th:object="${veiculoDTO}" class="card-body" action="/entrada" method="POST">
                   		<div class="form-group">
                       		<label for="modelo">Modelo</label>
                        	<input th:field="*{modelo}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Ex: Corsa"/>
                        	<small>Informe qual o modelo do veiculo.</small>
                        <div class="invalid-feedback" th:errors="*{modelo}"></div>
                    	</div>
                    	<div class="form-group">
                    		<label for="modelo">Marca</label>
                    		<select th:field="*{marca}"  th:errorclass="is-invalid" class="form-control">
    							<option th:each="marca : ${marcas}"th:value="${marca.marca}" th:text="${marca.marca}"></option>
							</select>
							<div class="invalid-feedback" th:errors="*{marca}"></div>
                    	</div>
                    	<div class="form-group">
                    		<label for="modelo">Cor</label>
                    		<select th:field="*{cor}"  th:errorclass="is-invalid" class="form-control">
    							<option th:each="cor : ${cores}"th:value="${cor.cor}" th:text="${cor.cor}"></option>
							</select>
							<div class="invalid-feedback" th:errors="*{cor}"></div>
                    	</div>
                   		<div class="form-group">
                        	<label for="placa">Placa</label>
                        	<input th:field="*{placa}" th:errorclass="is-invalid" class="form-control" type="text"  placeholder="Ex: IHF-2551"/>
                        	<div class="invalid-feedback" th:errors="*{placa}"></div>
                        	<small>Informe a placa do veiculo com travessao.</small>
                    	</div>
                    	<button class="btn btn-primary" type="submit">Salvar</button>
                	</form>
				</div>
			</div>
		</div>
	</body>
</html>